In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
police = pd.read_csv('PoliceSet.csv')

In [7]:
# . 1) Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.

police.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [9]:
police.drop(columns='country_name',inplace=True)

In [46]:
# Q. 2) Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ? 

df = police[police['violation'] == 'Speeding']
df.groupby('driver_gender').count()

,stop_date,stop_time,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
driver_gender,,,,,,,,,,,,,
F,11686,11686,11686,11661,11686,11686,11686,11686,102,11686,11686,11686,11686
M,25517,25517,25517,25458,25517,25517,25517,25517,694,25517,25517,25517,25517

In [47]:
# Q. 3) Question ( Groupby ) - Does gender affect who gets searched during a stop ?

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [52]:
# Q. 3) Question ( Groupby ) - Does gender affect who gets searched during a stop ?
police.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [56]:
police.stop_duration.value_counts()

Series([], Name: count, dtype: int64)

In [57]:
# Question ( mapping + data-type casting )

police['stop_duration'] = police['stop_duration'].map({'0-15 Min': 2.4 , '16-30 Min': 24})



police.stop_duration.value_counts()

Series([], Name: count, dtype: int64)

In [60]:
police.head(100)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,NaN,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10/2/2005,23:05,M,1978.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
96,10/3/2005,2:20,F,1950.0,55.0,Asian,Speeding,Speeding,False,NaN,Citation,False,NaN,False
97,10/3/2005,2:40,M,1976.0,29.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
98,10/3/2005,7:05,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,NaN,False
99,10/3/2005,8:37,M,1965.0,40.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,NaN,False

In [ ]:



# 
# Q. 4) Question ( mapping + data-type casting ) - What is the mean stop_duration ?
# Q. 5) Question ( Groupby , Describe ) - Compare the age distributions for each violation.